<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h4>params</h4>
    <pre><%=log %></pre>
    <h4>conv</h4>
    <pre><%=log2 %></pre>

    <script src="./js/render.js"></script>
</body>

</html>